@model SistemaFactura2.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Clientes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar ", "Edit", new { id = Model.IDClientes }) |
    @Html.ActionLink(" Volver al Listado", "Index")
</p>
